@-webkit-keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

.pages{
    margin-left: 0vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
}

.intro {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    text-align: center;
}

.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to bottom, transparent, black), url('../images/aboutus_pic/aboutus.jpg'); 
    background-size: cover; 
    background-position: center; 
    filter: blur(5px); 
    z-index: -1; 
    -webkit-animation:kenburns-bottom-left 5s ease-out both;animation:kenburns-bottom-left 5s ease-out both
}

.intro h1 {
    padding-left: 80px;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 12vh;
    font-weight: 700;
    padding-bottom: 0%;
    color: white;
    position: relative;
    -webkit-animation:tracking-in-contract-bck 1s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract-bck 1s cubic-bezier(.215,.61,.355,1.000) both
}

.obj_tittle{
    color: #ff9900;
    margin-top: 10vh;
    font-family: 'Poppins', sans-serif;
    font-size: 5vh;
    font-weight: 700;
    margin-bottom: 6vh;
}

.obj{
    display: flex;
    flex-direction: row;
    max-width: 160vh;
    justify-content: space-between;
    align-items: center;
    gap: 10vh;
    margin-bottom: 5vh;

}

.obj_img{
    width: 70vh;
    height: 43.33vh;
    border-radius: 5vh;
}

.obj strong{
    color: #ff9900;
    font-size: 3vh;
    font-weight: 700;
}



.contact_card{
    display: flex;
    flex-direction: row;
    gap: 3vh;
    justify-content: center;
    margin-bottom: 15vh;
}


.card {
    display: flex;
    flex-direction: column;
    border-radius: 3vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #d8d8d9; 
    border-radius: 8px; 
    padding: 20px; 
    transition: transform 0.3s ease;
}

.card_img{
    width: auto;
    height: 40vh;
    transition: transform 0.3s ease;
}

.card hr{
    color: black;
    width: 90%;
    margin-top: 5vh;
} 

.card h2{
    margin-top: 2vh;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 3.3vh;
    font-weight: 700;
}

.card p{
    font-size: 2.5vh;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

.card:hover .card_img {
    transform: scale(1.4); 
}

.card:hover {
    transform: scale(1.1); /* Increase size by 10% */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

.map{
    width: 100%;
    height: 400px;
    margin-bottom: 20vh;
}
