@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



header {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    max-width: 100vw;
  }

.navbar {
    display: flex;
    /* justify-content: space-between; */
    background-color: #ffffff;
    padding: 10px;
    align-items:center;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
  }


  .logo{
    width: auto; 
    height: 50px;
    align-items: center;      
    position: relative;
    left:1%;
    border-radius: 5px;
    transition: 0.4s;
    margin-right: 2vw;
    cursor: pointer;
  }

div.nav{
    display: flex;
    flex-direction: row;
}
.nav_search {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    border-color: #dedede;
    transition: 0.3s;
    /* position: absolute; */
    margin-left: 7vw;
    /* left: 15%; */
    margin-top: 2vh;
    width: 400px; 
    height: 10px;
    margin-right: 5vw;
   }
   
.nav_search:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
            inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.nav_button{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    /* position: absolute; */
    /* right:35%; */
    margin-right: 2vw;
    border-color: transparent;
    border-radius: 15px;
    transition: 0.4s;
    cursor: pointer;
} 

.nav_button img {
    margin-bottom: 0.5px;
    width: auto;
    height: 5vh;
}

.nav_button a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.guest-btn{
    width: 100px; 
    height: 40px; 
    font-size: 15px;
    transition: 0.4s;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
}
.guest-btn:hover{
    cursor: pointer;
}
#login{
    
    border-color: #d3d1d1;
    background-color: #f2f2f2;
    position: absolute;
    right: 11%;
    color: #353535;
}

#signup{
    color: #cacaca;
    border-color: #000000;
    background-color: #000000;
    position: absolute;
    right: 3%;
}

.logo:hover, .myteach:hover, .mylearn:hover {
    transform: scale(1.1); 
}

.logo:active, .myteach:active, .mylearn:active {
    transform: scale(0.95);
  }

.login:hover {
    color: #ffffff;
    background-color: #ff9900;
    transform: scale(1.1); 
    text-shadow: 0 0 5px #ffffff;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.5);
}

.signup:hover {
    color: #ffffff; 
    transform: scale(1.1); 
    text-shadow: 0 0 5px #ffffff;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.5);
}
